@page "/"

<MudForm>
    <MudTextField @bind-Value="_minHeartRate" T="int" Label="Resting Heart Rate" Variant="Variant.Text"></MudTextField>
    <MudTextField @bind-Value="_maxHeartRate" T="int" Label="Maximum Heart Rate" Variant="Variant.Text"></MudTextField>
</MudForm>
<h1>Hello, world!</h1>

@code
{
    private int _minHeartRate = 60;
    private int _maxHeartRate = 180;
}
